<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8ptVah5i81_RIufDB7UKN8oem-cDoFzw</string>
	<key>GCM_SENDER_ID</key>
	<string>871589231140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jokesStory</string>
	<key>PROJECT_ID</key>
	<string>jokestories-4503e</string>
	<key>STORAGE_BUCKET</key>
	<string>jokestories-4503e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871589231140:ios:375ad31ebbe5ae9ab2f6b1</string>
</dict>
</plist>